<header >
    <div class='bottom notification'>
        <div class='container'>
            <div class='profile-wrap'>
                <div class='user-info'>
                    <div class='name' style="font-size: 20px; color: black; font-weight: 700;">{{session['name']}}</div>
                    <div class='rank' style="color: #000000A6; font-size: 15px; font-weight: 600;">{{session['role']}}</div>
                </div>
            </div>
            <div class='notify-wrap' style="margin-top: 7px;">
                <div class='element' style="display: flex; align-items: center;">
                    <div class='text' style="color: black; font-size: 15px; font-weight: 600;">Notifications</div>
                    <div class='' id='notification'>
                       <i class="fa-regular fa-bell"  style="color: black; font-size: 20px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>